<!DOCTYPE html>
<html>
<head>

    <title>Mafia Manag</title>
    {%block head%}

    {%endblock%}
    <link rel="icon">
    <link rel="icon" href="{{url_for('static', filename="Screenshot (163).png")}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.40.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />

<Style>
  @import url('https://fonts.googleapis.com/css2?family=Megrim&family=Poppins&display=swap%27%27');
  :root{
   --purple:#6500ea;
   --white: #f0f7ff;
   --black: #181717;
   --grey:  #1e1e1e;
  }

  body{
    background-color:#181717;

    font-family: 'Poppins', sans-serif;
  }
</Style>

</head>

<body>
  <div class="navbar 0">
    <div class="navbar-start  bg-text-white">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-black rounded-box w-52">
          {%if current_user.is_authenticated%}
          <a class = "clicks" href="{{url_for('all_rental')}}">Apply to be a member</a>
          <a class="clicks" href="{{url_for('account')}}">Account</a>
          <a class="clicks" href="{{url_for('logout')}}">Logout</a>
          {%elif current_user.role = 2%}
          <a class="clicks" href="{{url_for('make_team')}}">Make Team</a>
          <a class="clicks" href="{{url_for('join_team')}}">Join Team</a>
          <a class="clicks" href="{{url_for('all_teams')}}">Your Teams</a>
          <a class="clicks" href="{{url_for('account')}}">Account</a>
          <a class="clicks" href="{{url_for('logout')}}">Logout</a>
          <a class="clicks" href="{{url_for('inventory')}}">Inventory</a>
          {%elif current_user.role = 1%}
          <a class="clicks" href="{{url_for('make_team')}}">Make Team</a>
          <a class="clicks" href="{{url_for('join_team')}}">Join Team</a>
          <a class="clicks" href="{{url_for('all_teams')}}">Your Teams</a>
          <a class="clicks" href="{{url_for('account')}}">Account</a>
          <a class="clicks" href="{{url_for('logout')}}">Logout</a>
          {%elif current_user.role = 0%}
          <a class="clicks" href="{{url_for('join_team')}}">Join Team</a>
          <a class="clicks" href="{{url_for('all_teams')}}">Your Teams</a>
          <a class="clicks" href="{{url_for('account')}}">Account</a>
          <a class="clicks" href="{{url_for('logout')}}">Logout</a>
          {%else%}
          <a class="clicks nav-item active" href="{{url_for('register')}}">Register</a>
          <a class="clicks nav-item active" href="{{url_for('login')}}">Login</a>
          <a class = "clicks" href="{{url_for('all_rental')}}">Apply to be a member</a>
          {%endif%}
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a href=index.htm class="btn btn-ghost normal-case text-xl">Mafia Manager</a>
    </div>
    <div class="navbar-end">
     
    </div>
  </div>

  
<script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
  {%block content%}
  {%endblock%}
</body>
