
    <!-- END OF NAVBAR -->
    {%extends 'base.htm'%}
    {%block content%}
    <div class="hero min-h-screen ">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-7xl text-[#FFFFFF] font-bold">Mafia <br>Manager</h1>
          <p class="py-6">Your One Stop Solution to managin your gangs</p>
         
        </div>
      </div>
    </div>
    {%if current_user.is_authenticated%}
    <section class="p-6   text-gray-100">
      <div class="container mx-auto">
        <span class="block mb-2 text-xs font-medium tracking-widest text-center uppercase  text-[#6500ea]">Our Features</span>
        <h2 class="text-5xl font-bold text-center  text-gray-50">Managing gangs with  <span class=" text-[#6500ea]">MAFIA MANAGER</span> is simple </h2>
        <div class="grid gap-6 my-16 lg:grid-cols-3">
          <div class="flex flex-col p-8 space-y-4 rounded-md  bg-gray-900">
            <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full  bg-[#f0f7ff]  text-gray-900">1</div>
            <p class="text-2xl font-semibold">
              <b>Assign tasks</b><br>Want to kill someone ? Assign in to your gang members and have it done 
            </p>
            <a href="{{url_for('all_teams')}}"><button class="btn btn-ghost">Get Started</button></a>
          </div>
          <div class="flex flex-col p-8 space-y-4 rounded-md  bg-gray-900">
            <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full  bg-[#f0f7ff]  text-gray-900">2</div>
            <p class="text-2xl font-semibold">
              <b>Chat supports.</b><br>Chat with subdons in your region. 
            </p>
            <br>
            <a href="{{url_for('all_teams')}}"> <button class="btn btn-ghost">Get Started</button></a>
          </div>
          <div class="flex flex-col p-8 space-y-4 rounded-md  bg-gray-900">
            <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full  bg-[#f0f7ff]  text-gray-900">3</div>
            <p class="text-2xl font-semibold">
              <b>Video Calls.</b><br>Connect with your teams via video calls 
            </p><br>
            <a href="{{url_for('all_teams')}}"> <button class="btn btn-ghost">Get Started</button></a>
          </div>
        </div>
      </div>
    </section>
    {%else%}
    <section class="p-6   text-gray-100">
      <div class="container mx-auto">
        <span class="block mb-2 text-xs font-medium tracking-widest text-center uppercase  text-blue-400">Our Features</span>
        <h2 class="text-5xl font-bold text-center  text-gray-50">Managing gangs with  <span class=" text-blue-400">MAFIA MANAGER</span> is simple </h2>
        <div class="grid gap-6 my-16 lg:grid-cols-3">
          <div class="flex flex-col p-8 space-y-4 rounded-md  bg-gray-900">
            <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full  bg-blue-400  text-gray-900">1</div>
            <p class="text-2xl font-semibold">
              <b>Assign tasks</b><br>Want to kill someone ? Assign in to your gang members and have it done 
            </p>
          </div>
          <div class="flex flex-col p-8 space-y-4 rounded-md  bg-gray-900">
            <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full  bg-blue-400  text-gray-900">2</div>
            <p class="text-2xl font-semibold">
              <b>Chat supports.</b><br>Chat with subdons in your region. 
            </p>
          </div>
          <div class="flex flex-col p-8 space-y-4 rounded-md  bg-gray-900">
            <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full  bg-blue-400  text-gray-900">3</div>
            <p class="text-2xl font-semibold">
              <b>Video Calls.</b><br>Connect with your teams via video calls 
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="py-20   text-gray-100">
      <div class="container px-4 mx-auto">
        <div class="max-w-2xl mx-auto mb-16 text-center">
          <span class="font-bold tracking-wider uppercase  text-blue-400">Pricing</span>
          <h2 class="text-4xl font-bold lg:text-5xl">Choose your best plan</h2>
        </div>
        <div class="flex flex-wrap items-stretch -mx-4">
          <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
            <div class="flex flex-col p-6 space-y-6 rounded shadow sm:p-8  bg-gray-900">
              <div class="space-y-2">
                <h4 class="text-2xl font-bold">Beginner</h4>
                <span class="text-6xl font-bold">$30 </span><span class="text-sm tracking-wide">/month</span>
              </div>
              <p class="mt-3 leading-relaxed  text-gray-400">Our most affordable and basic plan for smaller gangs.</p>
              <ul class="flex-1 mb-6  text-gray-400">
                <li class="flex mb-2 space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Manage upto 10 gangs</span>
                </li>
                <li class="flex mb-2 space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Assign tasks</span>
                </li>
                <li class="flex mb-2 space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Communicate Via Chat</span>
                </li>
              </ul>
              <button type="button" class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded  bg-blue-400  text-gray-900">Get Started</button>
            </div>
          </div>
          <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
            <div class="flex flex-col p-6 space-y-6 rounded shadow sm:p-8  bg-blue-400  text-gray-900">
              <div class="space-y-2">
                <h4 class="text-2xl font-bold">Pro</h4>
                <span class="text-6xl font-bold">$24
                  <span class="text-sm tracking-wide">/month</span>
                </span>
              </div>
              <p class="leading-relaxed">Our most recommended plan for larger teams</p>
              <ul class="flex-1 space-y-2">
                <li class="flex items-center space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Manage upto 20 gangs</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Assign Tasks</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Get a personalised gang member onboarding system</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Communicate Via chat and video call</span>
                </li>
              </ul>
              <a rel="noopener noreferrer" href="#" class="inline-block w-full px-5 py-3 font-bold tracking-wider text-center rounded  bg-gray-800  text-blue-400">Get Started</a>
            </div>
          </div>
          <div class="w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
            <div class="p-6 space-y-6 rounded shadow sm:p-8  bg-gray-900">
              <div class="space-y-2">
                <h4 class="text-2xl font-bold">Team</h4>
                <span class="text-6xl font-bold">$72
                  <span class="text-sm tracking-wide">/month</span>
                </span>
              </div>
              <p class="leading-relaxed  text-gray-400">Our Most expensive plan for our premium users</p>
              <ul class="space-y-2  text-gray-400">
                <li class="flex items-start space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Everything in Pro</span>
                </li>
                <li class="flex items-start space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Inventory Management</span>
                </li>
                <li class="flex items-start space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Multiple Roles</span>
                </li>
                <li class="flex items-start space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Unlimited Gangs</span>
                </li>
                <li class="flex items-start space-x-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6  text-blue-400">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                  </svg>
                  <span>Gang member onboarding process</span>
                </li>
              </ul>
              <a rel="noopener noreferrer" href="#" class="inline-block w-full px-5 py-3 font-semibold tracking-wider text-center rounded  bg-blue-400  text-gray-900">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {%endif%}
    {%endblock%}
    