{%extends 'base.htm'%}

{%block content%}
<div class="container col trial" align ="center">
  <br><br><br><br>
  <h1 align = "center">Rent Out</h1>
  <form  method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.name.label}}{{form.name(class = 'form-control col-md-6' ,placeholder="Full Name" )}}
    </div>
    <div class="form-group">
      {{form.body.label}}{{form.body(class = 'form-control col-md-6' ,placeholder="How many Murders have you committed?" )}}
      {%if form.body.errors%}
        {%for error in form.body.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.criminal.label}}{{form.criminal(class = 'form-control col-md-6' ,placeholder="What is your Criminal Record?" )}}
      {%if form.criminal.errors%}
        {%for error in form.criminal.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>

    <div class="form-group">
      {{form.years.label}}{{form.years(class = 'form-control col-md-6' ,placeholder="How many Years have you been Imprisoned?" )}}
      {%if form.years.errors%}
        {%for error in form.years.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>

    <div class="form-group">
      {{form.connection.label}}{{form.connection(class = 'form-control col-md-6' ,placeholder="How many underground connections do you have?" )}}
      {%if form.connection.errors%}
        {%for error in form.connection.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.picture.label(class="form-group")}}
      {{form.picture(class="form-control-file col-md-6")}}
      {%if form.picture.errors%}
        {%for error in form.picture.errors%}
          <small class = 'text-danger'>{{error}}</small>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group">
      {{form.submit(class ="btn btn-primary change")}}
    </div>
  </form>

</div>
{%endblock%}
