{%extends "base.htm"%}
{%block content%}
<br><br><br><br><br><br>
<div class="container jumbotron" id="account">
  <div align='center'>
    <h1>Welcome To the Page for {{user.username}}</h1>
    His Profile Image: <br>
    <a href="{{profile_image}}">
    <img align = 'center' src="{{profile_image}}" >
    </a>

  </div>
  <div class="container " align ="center">
    <form method="POST" action = "" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="form-group">
          {{form.role.label(class="form-group")}}
          {{form.role(class="", value='')}}
          {%if form.role.errors%}
            {%for error in form.role.errors%}
              <small class = 'text-danger'>{{error}}</small>
            {%endfor%}
          {%endif%}
      </div>
      <div class="form-group">
        {{form.master.label(class="form-group")}}
        {{form.master(class="form-control col-md-6", value=master.username)}}
        {%if form.master.errors%}
          {%for error in form.master.errors%}
            <small class = 'text-danger'>{{error}}</small>
          {%endfor%}
        {%endif%}
      </div>
      <div class="form-group">
        {{form.submit(class = 'btn btn-primary change')}}
        <a class = "btn btn-primary change" href="{{url_for('your_rental')}}">Your rentals</a>
      </div>
    </form>

  </div>

</div>




{%endblock%}
