{%extends 'base.htm'%}
{%block content%}
<!-- hhhh -->
<br><br><br><br><br><br><br>
    {{rent.name}}
    <div align="center">
    <img style = "width : 20rem;"  class = "card-text" align ="center" src="{{image}}">
    <h1>Body count : {{rent.body}}</h1>
    <h1>Underground Connections : {{rent.body}}</h1>
    <h1>Prison Years : {{rent.body}}</h1>
    <h1>Criminal Record : {{rent.body}}</h1>
    </div>
    {%if current_user == rent.user or curren_user.username=='don_jokerman'%}
      <center><a class="btn btn-primary change" href="{{url_for('delete' , rent_id = rent.id)}}">Delete</a>
      <a href="{{url_for('vc' , team_id=rent.name+rent.image)}}" class="btn btn-primary change">VC</a>
    </center>
    {%endif%}
  </div>
{%endblock%}
