{%extends "base.htm"%}
{%block head%}
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename="team.css")}}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<style>
    html{
        background-color: #181717 !important;
    }
body {
    transition: background-color .5s;
    height: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#mySidenav{
  color: white !important;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.link-flex {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}
</style>
{%endblock%}
{%block content%}

<div id="mySidenav" class="sidenav">

  <a href="javascript:void(0)" id = "mySidenav" style="font-size: 30px;" align = "right" onclick="closeNav()">x</a>
  {%for user in team.workers%}
<div >
  {%if current_user.username =='don_jokerman'%}
  <a href="{{url_for('role', user_id=user.id)}}" class='link-flex'><h5 style="margin: 1em; display: inline-block;">{{user.username}}</h5></a>
  {%else%}
  <h5 style="margin: 1em; display: inline-block;"><img style="border-radius: 100%;" height="30px" width="auto"  src="{{url_for('static' , filename = user.profile_image)}}" alt="">  {{user.username}}</h5>
  {%endif%}
</div>
{%endfor%}
</div>

<div id="main" class="text-gray-50">
<span style="font-size:40px;cursor:pointer" onclick="openNav()">Users<span class="text-lg"><i class="fi fi-sr-angle-right"></i></span></span><br><br>
<iframe id = "reach" style="top: 0;" hidden="true" height="0px"></iframe>
{%if team_owner == current_user.id%}
  <a class="text-xl" style="background-color: #6500ea; padding: 1%;margin-right: 2% ;border-radius: 25px;" class="" href="{{url_for('team_account' , team_id = team_id)}}">Account</a>

{%endif%}
<a class="text-xl" style="background-color: #6500ea; padding: 1% ;border-radius: 25px;" class="" href="{{url_for('sessions' , teamid = team_id)}}">Chat</a>
<br><br><br>
<div class="lists">
  <div class="list">
    {%if team_owner == current_user.id%}
      <a title="Add Event" align = "center" href="{{url_for('make_upcoming' , team_id = team_id , type = 'upcoming')}}">
        <i class="fa fa-calendar-plus-o" style="font-size:24px"></i>
        Upcoming</a>
    {%else%}
    <center>Upcoming</center>
    {%endif%}
    {%if team_upcoming%}
      {%for event in team_upcoming%}

      <div class = "list-item center jumbotron border">
        {{event.title}}
                <small id="emailHelp" class="form-text text-muted">Published :{{event.date.strftime('%d-%m-%Y/%H:%M')}}</small>

        <a href="{{url_for('event' ,team_id = team_id, event_id = event.id) }}">read more</a>
        <br>
        {%if current_user.id == team.ownerid%}
          <a style="font-weight: 800;" class="btn btn-primary" title = "Delete" href="{{url_for('delete_event' , team_id = team_id , event_id = event.id)}}">D</a>
        {%endif%}
        <a style="font-weight: 800;" class="btn btn-primary" title = "Change to Ongoing" href="{{url_for('change_event' , team_id = team_id , event_id = event.id , type = 'o')}}">O</a>
        <a style="font-weight: 800;" class="btn btn-primary" title = "Change to Completed" href="{{url_for('change_event' , team_id = team_id , event_id = event.id , type = 'c')}}">C</a>
        <br>

      </div>

      {%endfor%}
    {%endif%}
  </div>
  <div class="list">
    {%if team_owner == current_user.id%}
      <a title="Add Event" align = "center" href="{{url_for('make_upcoming' , team_id = team_id ,type = 'ongoing')}}">
        <i class="fa fa-calendar-plus-o" style="font-size:24px"></i>
        Ongoing</a>
    {%else%}
    <center>Ongoing</center>
    {%endif%}
    {%if team_ongoing%}
      {%for event in team_ongoing%}
      <div class = "list-item jumbotron border">
        {{event.title}}
        <small id="emailHelp" class="form-text text-muted">Published :{{event.date.strftime('%d-%m-%Y/%H:%M')}}</small>

        <a href="{{url_for('event' ,team_id = team_id, event_id = event.id )}}">read more</a>
        <br>
        {%if current_user.id == team.ownerid%}
          <a style="font-weight: 800;" class="btn btn-primary" title = "Delete" href="{{url_for('delete_event' , team_id = team_id , event_id = event.id)}}">D</a>
        {%endif%}
        <a style="font-weight: 800;" class="btn btn-primary" title = "Change to Upcoming" href="{{url_for('change_event' , team_id = team_id , event_id = event.id , type = 'u')}}">U</a>
        <a style="font-weight: 800;" class="btn btn-primary" title = "Change to Completed" href="{{url_for('change_event' , team_id = team_id , event_id = event.id , type = 'c')}}">C</a>


      </div>
      {%endfor%}
    {%endif%}
  </div>
  <div class="list">
    {%if team_owner == current_user.id%}
      <a title="Add Event" align = "center" href="{{url_for('make_upcoming' , team_id = team_id , type = 'completed')}}">
        <i class="fa fa-calendar-plus-o" style="font-size:24px"></i>
        Completed</a>
    {%else%}
    <center>Completed</center>
    {%endif%}
    {%if team_completed%}
      {%for event in team_completed%}
      <div class = "list-item jumbotron border">
        {{event.title}}
        <small id="emailHelp" class="form-text text-muted">Published :{{event.date.strftime('%d-%m-%Y/%H:%M')}}</small>
        <a href="{{url_for('event' ,team_id = team_id, event_id = event.id)}}">read more</a>
        <br>
        {%if current_user.id == team.ownerid%}
          <a style="font-weight: 800;" class="btn btn-primary" title = "Delete" href="{{url_for('delete_event' , team_id = team_id , event_id = event.id)}}">D</a>
        {%endif%}
        <a style="font-weight: 800;" class="btn btn-primary" title = "Change to Upcoming" href="{{url_for('change_event' , team_id = team_id , event_id = event.id , type = 'u')}}">U</a>
        <a style="font-weight: 800;" class="btn btn-primary" title = "Change to Ongoing" href="{{url_for('change_event' , team_id = team_id , event_id = event.id , type = 'o')}}">O</a>

      </div>
      {%endfor%}
    {%endif%}
  </div>
</div>



</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

{%endblock%}